h1 {
  color: yellowgreen;
  font-family:'Courier New', 'Courier New', Courier, monospace;
}

#id1 {
  color:orange;
  font-family:'Courier New', 'Courier New', Courier, monospace;

}

.aquac {
   color: aqua;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 24px;
}


  
  



